<app-menu></app-menu>

<body  class="container"class="rounded" style="background-color: #1c5739; ">
  <div>
  <h1 class="display-3" style="font-weight: regular;color: white; border-radius:25px">ยินดีต้อนรับสู่หน้าผู้ดูแลระบบ</h1>
  <h4 style="font-weight: bold;color: green">หน้านี้ให้คุณควบคุมเว็บไซต์ทั้งหมดของคุณ คุณสามารถจัดการเนื้อหา ผู้ใช้ และการตั้งค่าต่างๆ ได้</h4> 
  <p style="background-color: #1c5739;">คุณสามารถเพิ่มข้อมูลใหม่ให้กับเว็บไซต์ เช่น สินค้าใหม่ สมาชิกใหม่ หรือข้อมูลอื่นๆ นอกจากนี้ คุณยังสามารถแก้ไขข้อมูลที่มีอยู่ได้ เช่น แก้ไขข้อมูลสินค้า สมาชิก หรือข้อมูลอื่นๆ</p>
  <ul>
    <li>หน้านี้ให้คุณควบคุมเว็บไซต์ทั้งหมดของคุณ คุณสามารถจัดการเนื้อหา ผู้ใช้ และการตั้งค่าต่างๆ ได้</li>
    <li>คุณสามารถเพิ่มข้อมูลใหม่ให้กับเว็บไซต์ เช่น สินค้าใหม่ สมาชิกใหม่ หรือข้อมูลอื่นๆ</li>
    <li>คุณยังสามารถแก้ไขข้อมูลที่มีอยู่ได้ เช่น แก้ไขข้อมูลสินค้า สมาชิก หรือข้อมูลอื่นๆ</li>
  </ul>
</div>
</body >

